.password-container{
    width: 100%;
    form{
        svg{
            display: none;
        }
        .write{
            margin-bottom: 10px;
        }
        input{
            width: 80%;
            height: 30px;
            padding: 0px 5px;
        }
    }
}