.sidebar{
    position: sticky;
    left: 0;
    top: 0;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .top{
        padding-bottom: 10px;
        img{
            width: 150px;
            height: 80px;
            cursor: pointer;
            object-fit: cover;
        }
    }
    .middle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        a{
            text-decoration: none;
            color: inherit;
        }
        button{
            border: none;
            background-color: white;
        }
        h2{
            font-size: 1.2rem;
            font-weight: normal;
            &:hover{
                font-weight: 600;
            }
        }
        img{
            width: 25px;
            height: 25px;
            object-fit: cover;
        }
        .search{
            position: absolute;
            top: 19%;
            left: 15%;
            width: 300px;
            padding: 10px;
            height: 100%;
            border-radius: 0px 10px 10px 0px;
            z-index: 2;
            background-color: white;
            color: black;
            border-left: 1px solid grey;
            box-shadow: 2px 3px 2px 2px grey;
            .top{
                position: relative;
                height: 30%;
                display: flex;
                align-items: start;
                flex-direction: column;
                gap: 20px;
                position: relative;
                input{
                    width: 90%;
                    border-radius: 10px;
                    height: 30px;
                    border: 1px solid grey;
                    padding-left: 10px;
                }
                svg{
                    position: absolute;
                    right: 0;
                    width: 15px;
                    height: 15px;
                    color: black;
                    cursor: pointer;
                    object-fit: cover;
                    color: grey;
                    position: absolute;
                    right: 8%;
                    top: 37%;
                }
            }
            .bottom{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                span{
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }
    .bottom{
        position: relative;
        padding-top: 45px;
        button{
            background-color: inherit;
            border: none;
            h2{
                font-size: 1.2rem;
                font-weight: normal;
                &:hover{
                    font-weight: 600;
                }
            }
            img{
                width: 25px;
                height: 25px;
                object-fit: cover;
            }
        }
        .menu-display{
            position: absolute;
            width: 200px;
            top: -300px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            gap: 10px;
            background-color: white;
            z-index: 2;
            .element-container{
                flex-direction: row;
                padding: 7px 0px;
                gap: 0px;
                border-bottom: 1px solid grey;
                height: fit-content;
                margin: auto 0px;
                .text-area{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    h2{
                        font-size: 1rem;
                        width: 170px;
                    }
                }
                img{
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                }
            }
        }
    }
}