.sidebar{
    position: sticky;
    left: 0;
    top: 0;
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    .top{
        padding-bottom: 10px;
        img{
            width: 150px;
            height: 80px;
            cursor: pointer;
            object-fit: cover;
        }
    }
    .middle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        a{
            text-decoration: none;
            color: inherit;
        }
        button{
            border: none;
            background-color: white;
        }
        h2{
            font-size: 1.2rem;
            font-weight: normal;
            &:hover{
                font-weight: 600;
            }
        }
        img{
            width: 25px;
            height: 25px;
            object-fit: cover;
        }
        .search{
            position: absolute;
            top: 0;
            left: 15%;
            width: 400px;
            padding: 10px;
            height: 90vh;
            border-radius: 0px 10px 10px 0px;
            overflow: scroll;
            z-index: 2;
            background-color: white;
            color: black;
            border-left: 1px solid grey;
            box-shadow: 2px 3px 2px 2px grey;
            &::-webkit-scrollbar{
                width: 1px;
            }
            .top{
                position: relative;
                height: 30%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                gap: 20px;
                position: relative;
                input{
                    width: 90%;
                    border-radius: 10px;
                    height: 30px;
                    border: 1px solid grey;
                    padding-left: 10px;
                }
                svg{
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    color: black;
                    cursor: pointer;
                    object-fit: cover;
                    color: grey;
                    position: absolute;
                    right: 8%;
                    top: 29%;
                }
            }
            .bottom{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                span{
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
        .notify{
            position: absolute;
            background-color: white;
            padding: 20px;
            // border: 1px solid red;
            width: 350px;
            top: 0;
            height: 90vh;
            overflow: scroll;
            z-index: 2;
            left: 15%;
            border-left: 1px solid grey;
            box-shadow: 2px 3px 2px 2px grey;
            .top{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .svg-cover{
                    width: 80px;
                    height: 80px;
                    border: 1px solid black;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 20px 0px;
                }
                svg{
                    width: 60px;
                    height: 60px;
                }
            }
        }
        .create{
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: 2;
            background-color: black;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            svg{
                position: absolute;
                right: 5%;
                top: 5%;
                color: white;
                cursor: pointer;
            }
            .create-block{
                padding: 10px;
                width: 400px;
                height: 400px;
                background-color: white;
                border-radius: 10px;
                text-align: center;
                display: flex;
                flex-direction: column;
                .title{
                    flex: 1;
                }
                .upload{
                    flex: 3;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    svg{
                        position: relative;
                        width: 50px;
                        height: 50px;
                        cursor: pointer;
                        color: black;
                    }
                    input{
                        display: none;
                    }
                }
            }
        }
    }
    .bottom{
        position: relative;
        padding-top: 45px;
        button{
            background-color: inherit;
            border: none;
            h2{
                font-size: 1.2rem;
                font-weight: normal;
                &:hover{
                    font-weight: 600;
                }
            }
            img{
                width: 25px;
                height: 25px;
                object-fit: cover;
            }
        }
        .menu-display{
            position: absolute;
            width: 200px;
            top: -450%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 10px;
            gap: 10px;
            background-color: white;
            z-index: 2;
            a{
                text-decoration: none;
                color: black;
            }
            .element-container{
                flex-direction: row;
                padding: 7px 0px;
                gap: 0px;
                border-bottom: 1px solid grey;
                height: fit-content;
                margin: auto 0px;
                .text-area{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    h2{
                        font-size: 1rem;
                        width: 170px;
                    }
                }
                img{
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                }
            }
        }
    }
}